.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 3rem;
  padding: 3rem 15px 15px 15px;
}
ul.project-list {
  width: 100%;
  display: flex;
}
.project-list li {
  padding: 20px;
  width: 45%;
  list-style: none;
}
ul li {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
ul li a img {
  border-radius: 10px;
  width: 100%;
  min-height: 290px;
  height: 290px;
  object-fit: cover;
  border: 1.5px solid #ff4d6d;
}

.title {
  position: absolute;
  padding: 10px;
  top: 20px;
  left: 0;
  border-radius: 10px;
  opacity: 0;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 290px;
  height: 290px;

  transition: 0.5s;
}

.title:hover {
  opacity: 1;
  color: #fff;
  opacity: 0.8;
  background: #b67b86;
  transform: scale(1.1);
  transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
}
.title h1 {
  color: #fff;
  opacity: 1;
}
@media (max-width: 800px) {
  ul.project-list {
    display: block;
  }
  .project-list li {
    width: 100%;
  }
}
